<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Login</title>
</head>

<body bgcolor="#fff0f5">

    <br><br><br><br>

    <center>

        <table border="0" cellpadding="20" bgcolor="white" width="400">

            <tr bgcolor="#87CEEB">
                <td>
                    <center>
                        <font color="black">
                            <h1>User Login</h1>
                           
                        </font>
                    </center>
                </td>
            </tr>

            <tr>
                <td>

                    <form action="/login/" method="post">

                        {% csrf_token %}

                        <label><b>User Name</b></label><br>
                        <input type="text" name="username"
                            placeholder="Enter" size="45" required><br><br>

                        <label><b>Password</b></label><br>
                        <input type="password" name="password"
                            placeholder="Enter" size="45" required><br><br>

                        <center>

                            <input type="submit" value="Login"> 

                            {% if messages %}
                            <a href="/">
                                <button type="button">Exit</button>
                            </a>
                            {% endif %}

                        </center>

                    </form>

                    <div>
                        {% for message in messages %}
                        <center>
                            <h3>
                                <font color="red">{{message}}</font>
                            </h3>
                        </center>
                        {% endfor %}
                    </div><br>

                    
                    <center>
                        <font color="#ffb6c1">
                             ------------------- <b><font color="black">OR</font></b> -------------------
                        </font>
                    </center>

                        <br>

                

                    <center>

                        <a href="/accounts/google/login/">
                            <button type="button" style="width:300px;height:40px;">
                               <img src="https://cdn-icons-png.flaticon.com/512/281/281764.png" width="20" height="20">
                                  Login with Google
                            </button>
                        </a>

                        <br><br>
                        
                        <a href="/accounts/github/login/">
                            <button type="button" style="width:300px;height:40px;">
                                <img src="https://cdn-icons-png.flaticon.com/512/25/25231.png" width="20" height="20">
                                    Login with GitHub
                            </button>
                        </a>
                        
                        <br><br>
                        
                        <a href="/accounts/facebook/login/">
                            <button type="button" style="width:300px;height:40px;">
                                <img src="https://cdn-icons-png.flaticon.com/512/733/733547.png" width="20" height="20">
                                    Login with Facebook
                            </button>
                        </a>

                        <br><br>
                        
                        <a href="/accounts/linkedin_oauth2/login/">
                            <button type="button" style="width:300px;height:40px;">
                                 <img src="https://cdn-icons-png.flaticon.com/512/174/174857.png" width="20" height="20">
                                    Login with Linkedin
                            </button>
                        </a>

                        <br><br>
                        
                            
                    <center>
                        <p>Don't have an account?</p>

                        <a href="/register"> Create Account </a>
                            
                             
                    </center>

                </td>
            </tr>

        </table>

    </center>

</body>

</html>